.BookmarkPage{
   min-height: 420px;
   padding-top: 15px;
   .bookmarks{
      .pageLoader{
         @include loaderStyle;
         height: 50vh;
      }
   }
   .notBookmark{
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.bookmarkSection {
    padding: 15px;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    .bookmarkContent {
      display: flex;
      .MuiAvatar-circle {
         margin-top: 5px;
         margin-right: 10px;
      }
      .content{
         padding-right: 50px;
         h5 {
            font-size: 22px;
            padding-bottom: 5px;
            a{
               text-decoration: none;
               color: rgb(51, 51, 51);
               transition: all 0.2s;
            }
            a:hover{
               color: rgb(69, 69, 255);
            }
         }
         p {
            display: flex;
            margin-bottom: 0;
            span {
               margin-right: 15px;
               font-size: 14px;
            }
            span:first-child {
               font-size: 16px;
               margin-top: -2px;
            }
            div {
               span {
                  margin-right: 5px;
                  a{
                     text-decoration: none;
                     color: gray;
                  }
               }
            }        
         }
      }
   }
}