@mixin  workEducation {
   text-align: center;
   h5 {
      font-size: 15px;
      color: black;
   }
   p {
      font-size: 15px;
      margin-bottom: 3px;
   }
}

.userProfile {
   padding-top: 15px;
   padding-bottom: 40px;
   .pageLoader{
      @include loaderStyle;
      height: 350px;
   }
   .profileSection{
      position: relative;
      .logOutBtn{
         // @include btnCommonStyle;
         font-weight: 600 !important;
         position: absolute;
         top: 10px;
         right: 10px;
      }
      .profileImg {
         text-align: center;
         .profileBg{
            background-color: #1d4354;
            height: 120px;
         }
         .profilePic {
            width: 150px;
            height: auto;
            margin: 20px 0px;
            margin-top: -95px;
            margin-bottom: 5px;
            border: 5px solid white;
         }
      }
      .profileDetails {
         padding: 0px 20px 20px 20px;
         .socialLinks{
            list-style: none;
            padding-left: 0;
            a {
               padding: 0px 5px;
               transition: all 0.3s;
               color: black;
            }
            a:hover {
               color: #474fdf;
               transform: scale(1.1);
            }
         }
         .joinAndCountry{
            list-style: none;
            padding-left: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            li {
               margin: 0px 20px;
               svg {
                  // color: #474fdf;
                  color: gray;
                  font-size: 22px;
                  margin-top: -5px !important;
               }
            }
         }
         .Education{
            @include workEducation;
         }
         .Work {
            @include workEducation;
         }
      }
   }
}