
.passwordReset{
   height: 400px;
   display: flex;
   align-items: center;
   padding-bottom: 56px;
   .col-md-6{
      position: relative;
      .formLoader{
         @include formLoaderStyle;
      }
      .resetPaper{
         padding: 30px 25px !important;
         text-align: center;
      }
      .submitBtn{
         @include btnCommonStyle;
         width: 100% !important;
         margin-top: 15px;
         font-size: 1.1rem !important;
         padding: 7px 05px !important;
      }
   }
}