.MuiDialog-paperWidthSm {
   width: 600px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.ApplicationHome{
   @media (min-width: 1200px){
      .container, .container-lg, .container-md, .container-sm, .container-xl {
         max-width: 1300px !important;
      }
   }
   
   .Home {
      padding-top: 10px;
      padding-bottom: 40px !important;
      .pageLoader{
         @include loaderStyle;
         height: 80vh;
      }
      @media only screen and (min-width: 768px) {
         .sidebarRight {
            padding-left: 4px;
            .popularArticle{
               width: 24% !important;
               @include sidebarDivAndHeading;
               .popularArticleDiv{
                  padding: 0px 15px;
                  border-bottom: 1px solid lightgray;
                  margin-bottom: 20px;
                  a {
                     font-family: 'Noto Sans JP', sans-serif;
                     font-size: 18px;
                     font-weight: 400;
                  }
                  @include linkStyle;
                  .popularArticleDetails{
                     padding: 10px 0px;
                     display: flex;
                     .popularArticleControl{
                        width: 100%;
                        padding-left: 10px;
                        .nameDiv {
                           @include naveDivAndUsername;
                        }
                        @include likeDislike;
                     }
                  }
               }
            }
         }
      }
   }
}
