.topMenu {
   margin-bottom: 60px;
}
.navbar {
   padding: 2px 0px !important;
   .shadow-sm {
      box-shadow: 0 .125rem .25rem rgba(0,0,0,0.375)!important;
   }
   a {
      h3 {
         font-size: 32px;
         font-weight: bold;
      }
   }
   .collapse{
      .searchForm{
         width: 45%;
         display: flex;
         justify-content: center;
         position: relative;
         input {
            background: #eef0f1;
         }
         .searchBtn{
            @include btnCommonStyle;
            position: absolute;
            top: 1px;
            right: 0;
         }
      }
      ul {
         position: relative;
         li {
            margin: 0px;
            margin-left: 5px;
            padding: 7px 10px;
            cursor: pointer;
            a {
               font-size: 17px;
               color: black !important;
               font-weight: 500;
               .badge {
                  @include badgeStyle;
               }
            }
         }
         li.Profile:hover .profileDashboard {
            display: block;
         }
         .headerBtn:hover {
            border-radius: 5px;
            background-color: rgb(235, 235, 235);
         }
      }
      .createAccountBtn {
         @include btnCommonStyle;
         margin-left: 20px;
         font-size: 16px;
      }
      @media only screen and (max-width: 1200px) {
         .searchForm{
            width: 35%;
            display: flex;
            justify-content: center;
         }
      }
      @media only screen and (max-width: 768px) {
         .createAccountBtn {
            margin-left: 5px !important;
            font-size: 14px;
         }
         .searchForm{
            width: 75%;
            display: flex;
            justify-content: center;
         }
      }
      
   }
}
